@charset "utf-8";
/* BBShome CSS */

.content{ background:#fff; height:1700px;}

/* 帖子*/
.content li{ position:relative; float:left; width:948px; height:180px; border-bottom:1px  dotted #ccc; padding:10px 10px;}
.content h1 {width: 980px;height: 30px;font-family: "微软雅黑";font-size: 16px;color: #FFF;background: #01c675;text-align: center;line-height: 30px;margin-bottom: 20px;}
.content li .hd_pic{ position:absolute; left:5px; width:120px; height:130px; background:#CCC;}
.content li .hd_pic img{ position:absolute; left:10px; top:10px; width:100px; height:100px; background:#CCC;}
.content li .hd_id{position:absolute;width:120px; height:20px; color: white; line-height:20px; text-align:center; background:#000; opacity:0.5; filter:alpha(opacity:50); top:120px;left:5px;}
.content li h2{ position:relative; height:26px; line-height:26px;width:840px;  left:120px; font-size:16px; border-bottom:#CCC 1px dashed; margin-bottom:10px; }
.content li a{ color:#01C675;font-family:"微软雅黑";}
.content li span{ position:absolute; color:#999; font-size:12px; right:0; font-weight:normal; }
.content li p{position:absolute; width:810px;line-height:20px; left:130px;overflow:hidden; }

.content .rep_btn{}
.content .rep_btn a{position:absolute; width:60px; height:20px; line-height:20px; right:10px; bottom:10px; border:1px #CCC solid; text-align:center;}
.content .rep_btn a:hover{background:#01c675; display:block; color:#FFF; }

/* 翻页*/
.content  .toolbar_around{position:absolute; top:1056px; height:35px; width:980px;background:#f3f3f3; }
.toolbar{ position:absolute;  width:250px;left:380px; height:35px; background:#f3f3f3; line-height:35px;}
.toolbar a{display:block;float:left;margin-top:8px; width:20px; height:20px; line-height:20px; text-align:center;margin-right:10px;font-size:14px; font-family:Verdana; color:#999;}
.toolbar a:hover{ background:#01c675; color:#fff;}
.toolbar .active{ background:#01c675; color:#fff;}
.toolbar .pre{ display:block; float:left; margin-top:10px; margin-left:60px; background:url(../images/icons.png) no-repeat -12px -169px; width:12px; height:16px;}
.toolbar .next{ display:block; float:right; margin-top:10px; margin-right:66px; background:url(../images/icons.png) no-repeat 0 -169px ; width:12px; height:16px;}
.toolbar .pre:hover{ background:url(../images/icons.png) no-repeat -12px -152px;}
.toolbar .next:hover{background:url(../images/icons.png) no-repeat 0 -152px ; }

/*发表*/
#post_area{ position:absolute; top:1100px; left:40px; padding:20px 25px; width:850px;height:500px; background:#EFEFDE; border:1px solid #999;}
#post_area h2{position:relative; display:block; hieght:30px; line-height:30px; width:840px; padding:5px 5px;}
#post_area h2 .text_area_title{ height:20px; width:760px;}
#post_area h2 span{ position:absolute;left:0px; top:0;font-size:18px;font-family:"微软雅黑";}
#post_area h2 textarea{position:absolute; right:20px;top:0;}
#post_btn{ position:absolute; right:50px;bottom:150px; width:60px;height:26px;line-height:26px; font-size:14px; font-weight:bold; font-family:"微软雅黑"; color:#333; border:1px solid #999;}
#post_btn:hover{background:#F55151;color:#fff;}
#bbs_submit{ position:absolute; bottom:10px; right:40px; width:65px;line-height:22px;font-size:16px;font-family:YouYuan,"幼圆";background:#01c675; cursor:pointer; color:white;    border-radius: 3px 3px 3px 3px; height:24px;}
#bbs_submit:hover{ border:2px solid #009e5d; height:24px; color:#fff;}
#post_area ul{width:850px; margin-top:20px;}