@charset "utf-8";
/* CSS Document */
.content{ background:#FFF; height:auto;background:#f3f3f3;}
.content h1{width:980px; height:30px; font-family:"微软雅黑"; font-size:16px; color:#FFF; background:#01c675; text-align:center; line-height:30px;}
.inputarea{ float:left; margin-left:140px; width:700px; height:700px; background:#f3f3f3;}

.inputarea li{  position:relative; padding:0 10px; width:680px; margin-left:0px; height:50px;line-height:46px; font-family:"幼圆"; font-size:14px; color:#01c675; font-weight:bold;}
.inputarea li input{ position:absolute;left:100px;top:10px;  border-right:1px solid #ccc; width:290px;border-bottom:1px solid #ccc; height:23px;   font-size:12px; font-family:"微软雅黑"; padding:3px 3px 3px;color:#666;}
.inputarea li .reset_select{ position:absolute; top:10px; left:100px;  width:300px;height:26px;line-height:26px;border-bottom:1px solid #ccc;border-right:1px solid #ccc; overflow:hidden; background:url(../images/select.png) no-repeat 0px 0 ;}
.inputarea li .reset_select:hover{background:url(../images/select_act.png) no-repeat 0px 0 ;}
.inputarea li .reset_select select {  width:300px;height:26px;line-height:26px; border:none;background:none;-webkit-appearance: none; font-size:12px;font-family:"微软雅黑";color:#666; }
.inputarea .text_area{ height:450px;}
.inputarea .text_area textarea{position:absolute; height:400px;left:100px;top:10px;width:552px; border:none;border-right:1px solid #ccc;border-bottom:1px solid #ccc;line-height:14px;font-size:12px; font-family:"微软雅黑"; padding:5px 5px;color:#666;}
.inputarea li .inputfile{  position:absolute; width:200px; height:20px; top:5px; border:1px solid #ccc;left:450px;}

.inputarea li .homeworksubmit{ position:absolute; left:563px; width:100px; height:30px; cursor:pointer; color:#fff; background:#01c675;  }
.inputarea li .homeworksubmit:hover{ color:01c675; background:#999;}