@charset "utf-8";
/* 主页CSS */
/*CSS清零*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{ margin:0; padding:0; border:0;}
body{font-size:12px}
img{border:none;}
ul,ol{ list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}

/*清浮动*/
.clearfix:after{content:""; display:block; clear:both;}
.clearfix{zoom:1;}


body{ background:#303030;}


/*头部*/
header{ height:110px; width:980px; margin:0 auto; background:#01c675; }
header img{ margin:10px 100px;}

/*导航部分*/
nav{height:54px; background:#fff; width:980px;margin:2px auto; z-index:1; }	
nav a{ display:block; height:54px;line-height:54px; width:121.5px; text-align:center; float:left; border-right:1px solid #dfdfdf; color:#a1a1a1; font-size:16px; font-family:"微软雅黑"; }
nav a:hover{ background:#01c675; border-bottom:4px #00a05e solid; height:50px;color:#fff;}

/*主体内容*/
.content{ position:relative;width:980px;height:605px; margin:10px auto 0; }
/*主体左列表区域*/
.left{ float:left; width:200px; height:605px; background:#f3f3f3;}
.left ul a{ display:block; float:left; width:160px; height:20px; line-height:20px; margin-top:10px; margin-left:10px; font-size:12px; font-family:"微软雅黑"; color:#666;  padding-left:20px; background:url(../images/icons.png) no-repeat 0 -209px; border:1px #999 solid; font-weight:bold;}
.left ul a:hover{ padding-left:20px; background:url(../images/icons.png) no-repeat 0 -16px; color:#01c675;border:1px #01c675 solid;}
.left ul .active{ padding-left:20px; background:url(../images/icons.png) no-repeat 0 -16px; color:#01c675;border:1px #01c675 solid;}
/*主体右边主区域*/
.main{ position:relative; float:right; width:770px; height:605px; background:#fff; }
.text_area{ position:absolute; width:768px; height:604px;  border:solid 1px #01c675; color:#01c675; font-size:20px; line-height:480px; text-align:center; font-family:"幼圆"; left:0px;  top:0px; background:#FFF; z-index:0;}

/*页足*/
footer{  height:80px; width:980px; margin:10px auto 0; background:#01c675; padding-top:1px;}
footer p{  margin:0 auto;text-align:center; line-height:16px; font-size:12px; font-family:"微软雅黑" ;color:#333;}
.footer_link{ margin:10px  auto 0; height:20px; width:140px;}
.footer_link a{ float:left; text-align:center; display:block; width:70px; height:20px; line-height:20px; color:#fff; }
.footer_link a:hover{ color:#FF0;}

