@charset "utf-8";
/* 下载页面 */
.content{ background:#fff; height:auto;}

.content h1 a{ cursor:pointer; font-size:14px; float:left; height:30px; font-size:18px;width:490px;color:#fff; z-index:1; }
.content h1 .active{cursor:pointer; background:#fff; width:488px;color:#01c675;}



