@charset "utf-8";
/* 课程页面CSS */
/*CSS清零*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{ margin:0; padding:0; border:0;}
body{font-size:12px}
img{border:none;}
ul,ol,li{ list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}

/*清浮动*/
.clearfix:after{content:""; display:block; clear:both;}
.clearfix{zoom:1;}

body{ background:#303030;}
/*头部*/
header{ height:110px; width:980px; margin:0 auto; background:#01c675;}
header img{ margin:10px 100px;}

/*导航部分*/
nav{height:54px; background:#fff; width:980px;margin:2px auto; z-index:1; }	
nav a{ display:block; height:54px;line-height:54px; width:121.5px; text-align:center; float:left; border-right:1px solid #dfdfdf; color:#a1a1a1; font-size:16px; font-family:"微软雅黑"; }
nav a:hover{ background:#01c675; border-bottom:4px #00a05e solid; height:50px;color:#fff;}

/*主体内容*/
.content{ position:relative;width:980px;height:900px; margin:0px auto 0; background:#f3f3f3;}
.content>h1{ background:#f3f3f3; width:980px; height:40px; line-height:40px; text-align:center; font-size:16px;font-family:"微软雅黑"; font-weight:bold; color:#01c675;}

.content .player{  margin-left:90px; width:800px; height:600px;  }
.content .prewview_surround{position:relative; margin-left:40px; width:900px;margin-top:10px; height:150px; overflow:hidden;}
.content .pre_view{ margin-left:50px; position:relative;background:#fff; width:800px; height:150px;}
.content .pre_view .pre{ position:absolute;background:#01c675;  left:-50px; width:50px; height:150px;  z-index:3;}
.content .pre_view .next{position:absolute;background:#01c675;  right:-50px;width:50px; height:150px; z-index:3;}
.content .preview_container{ position:absolute; width:auto; height:150px;  background:#fff; left:0px;}
.content .preview_container li{ float:left; width:200px; height:150px;}
.content .preview_container li a{ display:block; margin-top:15px; margin-left:30px; width:140px; text-align:center; color:#666;}
.content .preview_container li a:hover{ color:#01c675;}
/*页足*/
footer{  height:80px; width:980px; margin:10px auto 0; background:#01c675; padding-top:1px;}
footer p{  margin:0 auto;text-align:center; line-height:16px; font-size:12px; font-family:"微软雅黑" ;color:#333;}
.footer_link{ margin:10px  auto 0; height:20px; width:140px;}
.footer_link a{ float:left; text-align:center; display:block; width:70px; height:20px; line-height:20px; color:#fff; }
.footer_link a:hover{ color:#FF0;}



